:root {
  --dark-blue-100: #609ED4;
  --dark-blue-200: #356EA9;
  --dark-blue-300: #0A3871;
  --dark-blue-400: #072B61;
  --dark-blue-500: #052051;
  --light-blue-100: #F3F5FC;
  --light-blue-200: #EFF1FA;
  --light-blue-300: #E9ECF8;
  --light-blue-400: #AAB2D5;
  --light-blue-500: #757FB2;
  --gray-100: #CED4DA;
  --gray-200: #ADB5BD;
  --gray-300: #868E96;
  --gray-400: #495057;
  --gray-500: #343A40;
}

body {
  background-color: var(--light-blue-200);
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80vh;
  padding: 2rem;
}

.input-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box textarea {
  width: 80%;
  height: 80%;
  resize: none;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--light-blue-200);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: var(--dark-blue-300);
  font-family: 'Inter', sans-serif;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3rem */
}

.info-box {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 6rem;
  font-family: 'Inter', sans-serif;
  margin: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

#btn-copy {
  background-color: var(--light-blue-400);
  color: var(--dark-blue-500);
}

#btn-encrypt {
  background-color: var(--dark-blue-300);
  color: var(--light-blue-100);
}

#btn-encrypt:hover {
  background-color: var(--dark-blue-200);
  color: var(--light-blue-100);
}

#btn-decrypt {
  background-color: var(--light-blue-400);
  color: var(--dark-blue-500);
}

#btn-decrypt:hover {
  background-color: var(--dark-blue-200);
  color: var(--light-blue-100);
}

#btn-box {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.output-box textarea {
  width: 80%;
  height: 80%;
  resize: none;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: var(--Gray-gray-400, #495057);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.25rem */
}

.output-box {
  border-radius: 0.8rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.output-box img {
  width: 80%;
}

.output-box h3 {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: var(--gray-400);
}

.output-box p {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--gray-400);
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .input-box {
    width: 100%;
  }
  .output-box {
    width: 100%;
    margin-top: 1rem;
  }

  .input-box textarea {
    height: 40vh;
  }
  
  .output-text  {
    display: none;
  }

  .output-box img {
    display: none;
  }

  .output-box textarea{
    height: 60vh;^
  }

}

@media (max-width: 480px) {
  .input-box textarea {
    font-size: 1.2rem;
  }
  .output-box textarea {
    font-size: 1.2rem;
  }
}


